<h1>Campanha</h1>

<hr>

<span class="col-lg-1"></span>

<div class="col-lg-10">

    <i ng-click="limpar()" class="fa fa-user-plus" style="font-size: 2em; margin-bottom: 10px;"
       typeof="button" data-toggle="tooltip" title="Adicionar"></i>

    <table class="table table-striped" >
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>#</th>
        </tr>
        <tr data-ng-repeat="campanha in campanhas">
            <td ng-click="seleciona(campanha)">{{campanha.id}}</td>
            <td ng-click="seleciona(campanha)">{{campanha.descricao}}</td>
            <td ng-click="seleciona(campanha)">
                <i typeof="button" data-toggle="modal" class="fa fa-pencil"
                   data-toggle="tooltip" title="Editar"></i>
            </td>
            <!--<td ng-click="seleciona(campanha)"><i class="fa fa-pencil"></i></td>-->
        </tr>
    </table>
</div>