<div class="block-header">
    <h2>CARGO</h2>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <!--TITULO GERAL-->
                <h2>
                    {{titulo}}
                </h2>

                <!--BOTÕES DO CARD-->
                <ul class="header-dropdown m-r--5">
                    <li>
                        <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float pull-right"
                                data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                                style="background-color: #FFEB3B !important;">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a data-ng-click="limpar()" ng-if="!listagem">Limpar</a></li>
                            <li><a data-ng-click="changeToSave()" ng-if="!cadastro">Cadastrar</a></li>
                            <li><a data-ng-click="changeToList()" ng-if="!listagem">Listar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!--CADASTRO/EDIÇÂO-->
            <div class="body" ng-hide="listagem" >
                <form name="cadastroForm">
                    <label for="descricao">Descrição</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" id="descricao" class="form-control" ng-required="true" ng-minlength="5"
                                   ng-model="cargo.descricao" placeholder="Entre com a descrição.">
                        </div>
                    </div>
                </form>

                <button data-ng-click="salvar()" type="button" ng-disabled="cadastroForm.$invalid"
                        class="btn btn-primary m-t-15 waves-effect" ng-if="cadastro">CADASTRAR</button>

                <button data-ng-click="editar()" type="button" ng-disabled="cadastroForm.$invalid"
                        class="btn btn-primary m-t-15 waves-effect" ng-if="edicao">EDITAR</button>
            </div>
            <!--TABELA DE LISTAGEM-->
            <div class="body table-responsive" ng-hide="!listagem">
                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>DESCRIÇÃO</th>
                        <th>#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="cargo in cargos">
                        <td>{{cargo.id}}</td>
                        <td>{{cargo.descricao}}</td>
                        <td>
                            <i ng-click="seleciona(cargo)"class="material-icons" title="Editar">mode_edit</i>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <at-pagination at-list="list" at-config="config"></at-pagination>
            </div>
        </div>
    </div>
</div>