<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="info-box-2 bg-light-green hover-zoom-effect">
            <div class="icon">
                <i class="material-icons">local_atm</i>
            </div>
            <div class="content">
                <div class="text">VALOR TOTAL CAPTADO</div>
                <div class="number">{{valueOfDonationsOfMounth | currency}}</div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="info-box-2 bg-orange hover-zoom-effect">
            <div class="icon">
                <i class="material-icons">face</i>
            </div>
            <div class="content">
                <div class="text">DOADORES CAPTADOS NO MÊS</div>
                <div class="number">{{taxpayersSavesOfMounth}}</div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="info-box-2 bg-grey hover-zoom-effect">
            <div class="icon">
                <i class="material-icons">poll</i>
            </div>
            <div class="content">
                <div class="text">DOAÇÕES CAPTADAS NO MÊS</div>
                <div class="number">{{donationsOfMounth}}</div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    GRAFICOS
                </h2>
            </div>

            <div class="body">
                <canvas id="base" class="chart-bar"
                        chart-data="data" chart-labels="labels" chart-colors="colors"
                        chart-dataset-override="datasetOverride" >
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    QUANTIDADE DE DOAÇÕES POR STATUS
                </h2>
            </div>

            <div class="body">
                <canvas id="doughnut" class="chart chart-doughnut" chart-colors="colorsPizza"
                        chart-data="dadosPizza" chart-labels="labelsPizza">
                </canvas>
            </div>
        </div>
    </div>
</div>